* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--primary);
}

:root {
  --primary: #3E363F;
  --secondary: #E6AF2E;
  --accent-1: #B1EDE8;
  --accent-2: #307473;
  --accent-3: #2274A5;
  --width: 100vw;
  /* colors for svg */
  --svg-primary: invert(19%) sepia(2%) saturate(3956%) hue-rotate(246deg) brightness(92%) contrast(85%);
  --svg-accent-2: invert(36%) sepia(6%) saturate(3647%) hue-rotate(130deg) brightness(101%) contrast(80%);
}

body {
  font-family: "Manjari", sans-serif;
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.header {
  background-color: var(--accent-1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-title {
  font-size: 1.5rem;
  padding: 1rem;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navigation a {
  padding: 1rem;
  width: 25%;
  text-align: center;
  font-weight: bold;
  color: whitesmoke;
  background-color: var(--primary);
  color: var(--accent-1);
}

.navigation a:hover {
  background-color: var(--secondary);
  color: var(--primary);
}

.main {
  display: grid;
  grid-template: auto 1fr auto / 2fr 1fr;
  padding: 1rem;
  width: 80%;
  max-width: 1000px;
  margin: auto;
}

.card {
  border: solid 1px transparent;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0;
  margin: 1rem;
}

.card-header {
  background-color: var(--accent-1);
  padding: 1rem;
  text-align: center;
  border-radius: 5px 5px 0 0;
}

.card-content {
  padding: 1rem;
}

.card-content div {
  display: flex;
}

.card-content p {
  text-align: justify;
}

.card-content p:first-child {
  margin: 0 1rem 0 0;
}

.card-content p:last-child {
  margin: 0 0 0 1rem;
}

.card-content image {
  width: 200px;
  height: auto;
}

.card-content a:hover {
  font-weight: 900;
}

.card-content h3 {
  margin-top: 1rem;
  text-align: center;
}

.footer {
  padding: 1rem;
  background-color: var(--accent-1);
  text-align: center;
}

.copyright {
  font-size: large;
}

#last-modified {
  font-size: small;
}
