/*  */
:root {
  --primary: #3E363F;
  --secondary: #E6AF2E;
  --accent-1: #B1EDE8;
  --accent-2: #307473;
  --accent-3: #2274A5;
  --background: #DDDDDD;
  --form-labels: #34043A;
  --full-width: 100vw;
  --stars: rgb(255, 165, 0);
  --stars-hover: rgb(250, 133, 0);
}

/* Universal Selector */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Element Selectors */
body {
  font-family: "Manjari", sans-serif;
  font-weight: 400;
  font-style: normal;
}

header, footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  background-color: var(--primary);
  color: var(--accent-1);
}

main {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0 2rem;
}

/* Id Selectors */

#copyright-symbol {
  font-size: 1.4rem;
}

#thankyou-page {
  margin: 2rem auto;
  width: 100%;
  max-width: 550px;
}

#thankyou-page p {
  font-size: 1.2rem;
  margin-top: 1rem;
}

#thankyou-page h2 {
  font-size: 2rem;
}

/* Form Styling */

.review-form {
  padding: 1rem;
  max-width: 550px;
  width: 100%;
  margin: 2rem auto;
  border-radius: 5px;
}

.review-form fieldset {
  margin: 1rem;
  border: none;
}

.review-form label,
.review-form div {
  display: block;
  padding-top: 1rem;
  color: var(--primary);
  font-size: 0.9rem;
  color: var(--form-labels);
  font-weight: 600;
}

.review-form label:first-child {
  padding-top: 0;
}

.review-form input[type="text"],
.review-form input[type="date"],
.review-form select,
.review-form textarea
 {
  background-color: var(--background);
  display: block;
  width: 100%;
  padding: 0.7rem;
  border-radius: 5px;
  border: none;
}

.review-form input[type="checkbox"] {
  margin-right: 6px;
}

.review-form input[type="submit"] {
  border: none;
  background-color: var(--primary);
  color: #fff;
  border-radius: 5px;
  padding: 0.8rem;
  width: 80%;
  margin: 0 10%;
  box-shadow: 1px 1px 4px #999;
  font-weight: 600;
  cursor: pointer;
}

/* .review-form .stars, */
.review-form select:required,
.review-form input:required{
  border-right: solid 4px red;
}

.review-form select:required:valid,
.review-form input:required:valid {
  border-right: solid 4px green;
}

.review-form .required {
  color: red;
  margin-left: 5px;
}

.review-form .optional {
  color: var(--accent-3);
  margin-left: 5px;
  font-size: 0.7rem;
}

/* Rating Stars Styles */
.review-form .stars {
  display: flex;
  width: 180px;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-top: 5px;
  position: relative;
}

.review-form input[type="radio"] {
  appearance: none;
  width: 12px;
}

.review-form input[type="radio"]:required {
  border: 0;
}

.review-form .stars > label {
  width: 2.5rem;
  height: 0;
  font-family: Arial;
  font-size: 2.5rem;
  transition: 0.2s ease;
  color: var(--stars);
}

.review-form .stars label:hover {
  /* color: #ff69b4; */
  cursor: pointer;
  color: var(--stars-hover);
  transition: 0.2s ease;
}

.review-form .stars label:active::before {
  transform:scale(1.1);
}

.review-form .stars label::before {
  content: '\2606';
  position: absolute;
  top: 0px;
  line-height: 26px;
}
/* set full star shape for checked label and those that come after it */
.review-form .stars input:checked ~ label:before {
  content:'\2605';
}

@-moz-document url-prefix() {
  .review-form .stars input:checked ~ label:before {
  font-size: 36px;
  line-height: 21px;
  }
}
